<%- include('./partials/head.ejs') %>
    <%- include('./partials/js_load.ejs') %>

        <body>
            <%- include('./partials/home.ejs') %>
                <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
        </body>

        </html>